@font-face {
  font-family: rejouice;
  src: url('fonts/Rejouice.ttf');
}

@font-face {
  font-family: international;
  src: url('fonts/NBInternationalProBoo.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "international";
}

html,
body {
  height: 100%;
  width: 100%;

}

#openMenu, #closeMenu{
  cursor: pointer;
}

#closeMenu{
  color: #000;
}

#dropdownFooter{
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

#dropdownFooter #right{
  display: flex;
  gap: 1.3rem;
  transition: all ease;
}

#left{
  transition: all ease;
  position: relative;
  overflow: hidden;
}

@keyframes rightToLeftOne {
  0%{
    left: 4%;
    opacity: 0.5;
  }

  100%{
    left: 0%;
    opacity: 1;
  }
}

@keyframes leftToRightOne {
  0%{
    left: 0%;
    opacity: 1;
  }

  100%{
    left: 5%;
    opacity: 0;
  }
}

#dropdown-twitter, #dropdown-insta, #dropdown-linkedin{
  position: relative;

}

@keyframes rightToLeft {
  0%{
    right: -45%;
  }
  50%{
    right: -20%;
  }
  100%{
    right: 0%;
  }
}

@keyframes leftToRight {
  0%{
    right: 0%;
  }
  50%{
    right: -20%;
  }
  100%{
    right: -45%;
  }
}

#redDropdown{
  width: 100%;
  height: 60%;
  background-color: #FF5F38;
  position: absolute;
  z-index: 20;
  padding: 1.5vw 3vw;

  overflow: hidden;
  display: none;

}

#dropdown{
  height: 83%;
  display: flex;
  justify-content: space-between;

  /* background-color: bisque; */
}

#dropdownUL{
  width: 40%;
  height: 100%;
  /* background-color: yellow; */
  font-size: 2.6rem;
  list-style-type: none;
  overflow: hidden;
  position: relative;

}

#bahar-work{
  /* background-color: greenyellow; */
   position: relative;
  z-index: 2;
}

#bahar-service{
  /* background-color: aqua; */
  position: relative;
  z-index: 1;
}

#dummy-home, #dummy-work, #dummy-service, #dummy-about, #dummy-contact{
  opacity: 0;
  visibility: hidden;
}

#dropdownUL li h2 {
  font-weight: 500;
}

#dropdownUL li{
  overflow: hidden;
  /* position: relative; */
  transition: all 0.3s ease-out;

  /* background-color: skyblue; */

  margin: 2px 0;
  cursor: pointer;

  min-height: 70px;

  display: flex;
  align-items: end;

}

#show-btn span{
  display: block;
}

#header-button{
  overflow: hidden;
}

#down-show-btn span{
  display: block;
}

#dropdownUL button, #dropdownUL span{
  transition: all 0.5s ease-out;

}

#dropdownUL ul{
  display: block;
  /* background-color: antiquewhite; */
  /* margin: 10px 0; */
  min-height: 70px;

  width: max-content;

}

#outerCircle{
  width: 25px;
  height: 25px;
  background-color: #000;
  position: relative;
  border-radius: 50%;
  display: block;
}

#innerCircle{
  display: block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

#bahar-ghar{
  border-bottom: 2px solid #000;
}

.dropdown-logo{
  cursor: pointer;
}

#bahar-ghar, #bahar-work, #bahar-service, #bahar-about, #bahar-contact, #openMenu, #closeMenu, #dropdown-twitter, #dropdown-insta, #dropdown-linkedin{
  /* background-color: aqua; */
  width: max-content;
  overflow: hidden;
  position: relative;
}


#header-home, #bahar-ghar{
  z-index: 12;
  position: relative;

  /* background-color: blueviolet; */

}



#dummy-home, #dummy-work, #dummy-service, #dummy-about, #dummy-contact{
  position: absolute;
  z-index: -5;
}




 #bahar-work, #bahar-service, #bahar-about, #bahar-ghar, #bahar-contact{
  /* position: relative; */
  /* position: absolute; */
  cursor: pointer;
 }


#header-work, #bahar-work{
  /* z-index: 4; */
  /* top: -16%; */
  /* top: 15%; */
}

#dummy-work{
  /* top: -16%; */
  /* top: 27%; */
  /* position: absolute !important; */
}

#bahar-service{
  /* background-color: antiquewhite; */
}

#header-service, #bahar-service{
  /* z-index: 3; */
  /* top: -32%; */
  /* top: 23%; */
}

#bahar-about{
  z-index: 9;
  position: relative;
}

#header-about, #bahar-about{
  /* top: -48%; */
  /* top: 31%; */
  /* z-index: 2; */
}

#dummy-about{
  /* top: -48%; */
  /* top: 40%; */
  /* position: absolute !important; */

}




#header-button{
  /* top: -80%; */
  position: relative;
    height: 4rem;
    width: max-content !important;
    margin-top: 2rem;
}

#hide-btn{
  position: absolute;
  left: -100%;
}

#header-button button{
  min-width: 11rem;
  height: 4rem;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

#hide-btn{
  background-color: #000 !important;

}

#show-btn{
  background-color: transparent;
  /* position: relative; */
  /* z-index: 900; */
  position: relative;

}

#show-btn span{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 1.2rem;

}

#header-button #down-show-btn{
  border: 0px;
  color: #fff;
  visibility: hidden;
    position: relative;
  z-index: 900;
}

#show-btn:hover{
  color: #FF5F38;
}

#take-a-seat-dummy{
  color: #fff;
  font-size: 1.3rem;

}

/* #header-home:hover, #header-work:hover{
  transform: translateY(-100%);

}



#header-home:hover + #dummy-home{
  visibility: visible;
  transform: translateY(-100%);
  opacity: 1;
} */

#dropdown video{
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 5px;
}

#controls{
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-top: 1rem;
}

#controls div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#page1 {
  height: 100%;
}

.hiddenLoader{
  background-color: #000;
  opacity: 1;
}

.show{
  background-color: #000;
  opacity: 0.1;
}

#page1-container{
  position: relative;
}

#page1::before{
  content: '';
  background-color: #000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#cursor{
  width: 7.5vw;
  height: 7.5vw;
  background-color: #FF5F38;
  border-radius: 50%;
  position: fixed !important;
  /* z-index: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: translate(-50%, -50%); */
}

#cursorTwo{
  width: 7.5vw;
  height: 7.5vw;
  background-color: #000;
  border-radius: 50%;
  position: fixed !important;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

@keyframes black_modal_anim {
  0%{
    width: 0%;
  }
  50%{
    width: 40%;
  }
  100%{
    width: 100%;
  }
}

@keyframes black_modal_anim_rev {
  0%{
    width: 100%;
  }
  50%{
    width: 40%;
  }
  100%{
    width: 0%;
    visibility: hidden;
  }
}

#black-takeit,
 #video-controller{
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  visibility: hidden;
}

#play-reel{
  cursor: pointer;
}

#video-controller iframe{
  width: 100vw;
  height: 100vh;
}

#black-text{
  font-family: "international";
  color: #fff;
}

#black-text p {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;

}

#black-text h1{
  font-size: 11rem;
  font-weight: 100;

}

#email-container{
  position: relative;
}

#black-text-underline{
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  top: 10rem;
  z-index: -1;
}

#page1 video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

#black-circle, #video-off{
    border:1px solid #fff;
    height:100px;
    border-radius:50%;
    width:100px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

#black-circle span, #video-off span{
  color: #fff;
  font-size: 3rem;
}

#page1-content {
  height: 100vh;
  width: 100%;
  /* background-color: #bababa; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3vw 3vw;
    color: #fff;

  /* background-color: #fff; */
}

#redDropdown nav{
  padding: 1.5vw 0 1vw 0;
  color: #000;
}

nav h3 {
  font-size: 1.4rem;
  font-weight: 100;
}

nav h4{
  font-size: 1.4rem;
  font-weight: 100;
}

#main-heading, #footer-heading{
  font-family: "rejouice";
  font-size: 26vw;
  line-height: 19vw;
  color: #fff;
  font-weight: 100;
  transition: all 1s ease;
  text-align: center;

}

.down{
  transform: translateY(10%);
  position: absolute;
  z-index: -1;
}

.up{
  transform: translateY(-8%);
}

#main-heading span, #footer-heading span{
  font-family: "rejouice";
  display: inline-block;
}

#page2{
  /* height: 50vh; */
  width: 100%;
  background-color: #fff;
  padding: 3vw;

  margin-bottom: 10vw;
}

#page2 p {
  font-size: 1.8rem;
}

#page2-two{
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

.page2-hr, .page4-hr, .page1-hr{
  width: 10%;
  height: 1px;
  background-color: #000;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.page1-hr {
  margin-top: 0;
}

.page2-hr.start, .page4-hr.start, .page1-hr.start{
  -webkit-animation:linear forwards;
  -webkit-animation-name: run;
  -webkit-animation-duration: 2s;
}

.page1-hr.end{
  -webkit-animation:linear forwards;
  -webkit-animation-name: runrev;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes run {
    0% { width: 20%;}
    50%{ width : 70%;}
    100%{ width: 100%;}
}

@-webkit-keyframes runrev {
    0% { width: 100%;}
    50%{ width : 70%;}
    100%{ width: 20%;}
}

.elem h1{
  font-size: 4.2vw;
  overflow: hidden;
}

.line-wrapper {
  overflow: hidden;
}

.elem, .elemTwo{
    font-size: 4rem;
  font-weight: 600;
  font-weight: normal;
}

#page3{
  min-height: 100vh;
  width: 100%;
  /* background-color: blue; */
  position: relative;
  padding: 3vw;
}

.runrun{
  width: fit-content;
  /* background-color: red; */
  left: 50%;
  position: relative;
  transform: translateX(-50%);

  font-size: 2rem !important;
}

#page3-top{
  /* background-color: aqua; */
  text-align: center;
  height: 50vh;
}

#page3-top h4{
  margin-bottom: 1vw;
  font-size: 1.5rem;
  font-weight: 500;
}

#page3-top h4 span{
  font-size: 0.9rem;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  padding: 3px 7px;
}

#page3-elements{
  display: flex;
  justify-content: space-between;

  min-width: 787px;
}

#page3-top h2{
  font-size: 4rem;
  font-weight: 500;
}

#page3-mid{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 1vw;
}

@media only screen and (max-width: 844px) {
  #page3-mid{
    font-size: 1.3rem;

  }

}

@media only screen and (max-width: 550px){
  #page3-mid{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 452px){
  #page3-mid{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 360px){
  #page3-mid{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 280px){
  #page3-mid{
    font-size: 0.7rem;
  }
}


.card{
  width: 33%;
  height: 35vw;
  position: relative;
   transition: all .1s ease;
  min-height: 380px;
  overflow-y: hidden !important;

}

.img-pe-img{
    width: 35%;
    height: 6%;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
}

.card-img, .card-video{
  width: 100% !important;
  height: 100% !important;
      object-fit: cover;
}

.visible {
  visibility: visible;
  opacity: 1;
  height: 100% !important;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.card-img{
  opacity: 1;
  transition: opacity 1.3s ease-out;
}

.card-video{
  opacity: 0;
  transition: opacity 1.3s ease-in;

}

/* .border-bottom{
  border-bottom: 5px solid #000;
  display: inline-block;
} */

.black-line{
  width: 100%;
  height: 3px;
  background-color: #000;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

#white-line-one{
  height: 3px;
  background-color: #fff;
  width: 300px;

}

.border-bottom{
  display: inline;
}


#page4{
  /* height: 100vh; */
  height: max-content;
  width: 100%;
  position: relative;
  padding: 10vw 3vw;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  /* background-color: blue; */

}

#page4-head{
  font-size: 1.8rem;
}

#page4-content{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1000;
}

.seat-text h3{
  font-size: 5rem;
  font-weight: normal;
  padding-left: 5px;
}

.seat-text p{
  font-size: 1.8rem;
  font-weight: normal;
  text-align: end;
}

.seat-text span{
  display: block;
  text-align: start;
}

.animate_number.start{
  animation: seat_anim 1s ease-out forwards;
  text-align: end;


}

.animate_number{
  font-size: 5.7rem;
}

.seat-first{
  display: flex;
  align-items: center;
}

.seat-number{
  width: 50px;
  height: 9rem;
  /* background-color: black; */
  overflow: hidden;

  font-size: 4rem;

}

#take-it-btn{
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 1rem;
  width: 70%;
  padding: 0.5rem 0;
  display: none;
  margin-left: 50%;
  transform: translateX(-50%);
}
/*
@media only screen and (max-width: 1636px) {
  .seat-number{
    height: 8rem;
  }
}

@media only screen and (max-width: 1496px){
  .seat-number{
    height: 7rem;
  }
}

@media only screen and (max-width: 1310px){
  .seat-number{
    height: 6rem;
  }
}

@media only screen and (max-width: 1116px){
  .seat-number{
    height: 5rem;
  }
}

@media only screen and (max-width: 922px){
  .seat-number{
    height: 4rem;
  }
}

@media only screen and (max-width: 680px){
  .seat-number{
    height: 3rem;
  }
}

@media only screen and (max-width: 534px){
  .seat-number{
    height: 2rem;
  }
} */

@keyframes seat_anim {
  100%{
    transform: translateY(-380%);

  }
}

#page4 video{
  height: 130%;
}

@media only screen and (max-width: 784px) {
  #page4 video{
    height: 120%;
  }

  .animate_number{
    font-size: 4.7rem;
  }

  .seat-text h3{
    font-size: 4rem;
  }

  .seat-number {
    height: 8rem;
  }

  .seat-text p{
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 624px) {
  #page4 video{
    height: 110%;
  }

  .animate_number{
    font-size: 3.7rem;
  }

  .seat-text h3{
    font-size: 3rem;
  }

  .seat-number {
    height: 6rem;
  }

  .seat-text p{
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 548px) {
  #page4 video{
    height: 100%;
  }

  .animate_number{
    font-size: 2.7rem;
  }

  .seat-text h3{
    font-size: 2rem;
  }

  .seat-number {
    height: 4.3rem;
  }

  .seat-text p{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 454px) {
  #page4 video{
    height: 90%;
  }
}

#page4 svg{
  position: absolute;
  height: 700px;
}

#bigCircle{
  opacity: 1;
}

.speed25{
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
  stroke-dasharray: 300;

  transform-origin: center;
  animation: clock-animation-25 8s !important;
animation-fill-mode: forwards !important;
}

@keyframes clock-animation-25 {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 183;
  }
}

.resetmovingcircle{
  stroke-dasharray: 300;

}


.outer.start {
    transform-origin: 50px 50px;
    animation: spin 6s linear;
    -webkit-animation-fill-mode: forwards;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
}

.reset{
  transform: rotate(0deg);
}

#page5{
  height: 100vh;
  width: 100%;
  padding: 4vw 0;

  position: relative;
  /* overflow-x: hidden; */
}

#page5 h1{
  font-size: 11rem;
  font-family: "rejouice";
  font-weight: normal;
  /* border-bottom: 1px solid #000; */
  width: 96%;
  margin-left: 2%;
}

.swiper-wrapper{
  align-items: flex-end !important;
}

.page5-top{
  /* position: relative; */
}

#swipperdiv{
  /* height: 60vh; */
  width: 100vw;
  /* background-color: blue; */

  position: absolute;

      top: 12vw;
}

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: black; */
      display: flex;
      justify-content: center;
      align-items: flex-end;
      color: white;

      min-width: 300px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }

#loader{
  height: 100vh;
  transition: all 4s ease-out;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 90;
}

#loader p{
  display: flex;
  gap: 10px;
  position: absolute;
  z-index: 200;
}

.our-text{}

#loader h3{
  color: #fff;
  display: inline;

}

#page7{
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#page7-head{
  display: flex;
  justify-content: space-between;
  padding: 60px;
  /* font-size: 1.2vw; */
  position: relative;
  font-size: 1.4rem;

  transition: all 1s ease;

}

#page7-mid-sec-container{
  height: 60%;
  position: relative;
}

.relax{
  font-size: 1.8rem;

}

#page7-head button{
  font-size: 1.4rem;
}

#page7-head-first{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page7-head-sec{
  display: flex;
  width: 20%;
  justify-content: space-between;

}

#page7-head-sec ul{
  list-style-type: none
}

#page7-mid{
  display: flex;
  padding: 60px;
  font-size: 1.4rem;
  transition: all 1s ease;

  position: relative;
  justify-content: space-between;


}

#page7-mid-sec{
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.page7-border{
  width: min-content;
  height: 10px;
  background-color: #fff;
}

.list-footer{
  width: max-content;
  overflow: hidden;
  position: relative;
}

@keyframes btn_anim{
  0%{
    transform: translateX(-10%);

  }
  100%{
  transform: translateX(100%);

  }
}

@keyframes btn_anim_rev {
  0%{
    transform: translateX(102%);

  }
  100%{
  transform: translateX(-10%);

  }
}


@keyframes border_anim {
  0%{
    transform: translateX(-100%);

  }
  100%{
  transform: translateX(0%);

  }
}

@keyframes border_anim_rev {
  0%{
    transform: translateX(0%);

  }
  100%{
  transform: translateX(200%);

  }
}

#footer-btn{
  padding: 20px 30px;
  width: max-content;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

#footer-btn:hover{
  color: #000;
  background-color: #fff;
}

.rotate-icon{
  transform: rotate(-45deg);
  display: inline-block;
}


@keyframes dropdown_anim{
  0%{
    height: 10%;
  }
  50%{
    height: 40%;
  }
  100%{
    height: 67%;
    /* ice cream */
  }
}




@keyframes dropdown_anim_up{
  0%{
    height: 60%;
  }
  50%{
    height: 40%;
  }
  100%{
    height: 0%;
    visibility: hidden;
  }
}


#footer-heading{
  position: absolute;
  bottom: 15%;
  left: 5%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1850px){
  #dropdownUL {
    font-size: 2.6rem;
  }
  @keyframes dropdown_anim{
  0%{
    height: 10%;
  }
  50%{
    height: 40%;
  }
  100%{
    height: 100%;
  }
}

  @keyframes dropdown_anim_up{
  0%{
    height: 100%;
  }
  50%{
    height: 40%;
  }
  100%{
    height: 10%;
    visibility: hidden;

  }
}
}

@media only screen and (max-width: 1740px) {
  #page7-head-sec, #page7-mid-sec{
    width: 25%;
  }

}

@media only screen and (max-width: 1314px) {
  #page5 h1 {
    font-size: 9rem;
  }

}


@media only screen and (max-width: 1282px) {
  #page7-head-sec, #page7-mid-sec{
    width: 35%;
  }
}

@media only screen and (max-width: 1024px){
  #page5 h1 {
    font-size: 7rem;
  }

  #page7-head-sec, #page7-mid-sec{
    width: 45%;
  }

  #page3-top h2{
    font-size: 3rem;
  }

  #page3-top{
    height: 40vh;
  }

  #page3-top h4{
    font-size: 1.2rem;
  }

  #page3-top h4 span{
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 1024px) {


#dropdown video {
    width: 100%;
    height: 25%;
}

#dropdown {
  flex-direction: column;
}

#dropdownUL {
  width: 100%;
  font-size: 2.5rem;
}
}

@media only screen and (max-width: 878px){
  #page5 h1 {
    font-size: 5rem;
  }

  #page2 p, #page2-two, #page4-head p {
    font-size: 1.2rem;
  }

  .elem, .elemTwo{
    font-size: 2rem;
  }

  #page7-head{
    flex-direction: column;
  }

  #page7-head-first {
    height: 40%;
  }

  #page7-head-sec, #page7-mid-sec{
    width: 100%;
  }

  #page7-mid{
    flex-direction: column;
  }
}


@media only screen and (max-width: 878px){
  #page7-head{
    flex-direction: column;
  }
  #page3-top h2{
    font-size: 2rem;
  }
  #page3-top{
    height: 30vh;
  }
}

@media only screen and (max-width: 464px) {




  #page2 p, #page2-two, #page4-head p {
    font-size: 0.9rem;
  }

  #page7-head{
    flex-direction: column;
    height: 55%;
  }
  #page7-head-sec, #page7-mid-sec{
    flex-direction: column;
  }

  #page7-head-sec{
    height: 45%;
  }

  #page7-head, #page7-mid{
    padding: 30px 60px;
  }

#dropdown video {
    width: 100%;
    height: 25%;
    /* sex */
}


}

@media only screen and (max-width: 456px) {
  #swipperdiv{
    top: 36vw;
  }
}

@media only screen and (max-width: 425px) {
  #cursor, #cursorTwo{
    display: none;
  }
  #take-it-btn{
    display: block;
  }
  #black-text h1 {
    font-size: 2.4rem;
  }
  #black-text p {
    font-size: 1rem;
  }
  #black-text-underline {
    top: 2.4rem
  }
  #black-circle span, #video-off span{
    font-size: 1.5rem;
  }
  #black-circle, #video-off{
    width: 50px;
    height: 50px;
  }
}


@media only screen and (max-width: 420px) {

#dropdownUL li{
  min-height: 70px;

}

#dropdownUL ul{

  min-height: 70px;

}
}


@media only screen and (max-width: 390px) {
  #swipperdiv{
    top: 40vw;
  }

#dropdownUL {
  font-size: 2.5rem;
}

}


@media only screen and (max-width: 380px) {
#dropdownUL li{
  min-height: 40px;

}

#dropdownUL ul{

  min-height: 40px;

}
#dropdownUL {
  font-size: 2.3rem;
}
}

@keyframes footer_anim_down {
  0%{
    top: -90px;
  }
  100%{
    top: 0px;
  }
}

@keyframes footer_anim_up {
  0%{
    top: 0px;
  }
  100%{
    top: -90px;
  }
}
